div.block-container.st-emotion-cache-z5fcl4.ea3mdgi2 {
    padding-top: 80px;
}
/* sign-in */
div.st-emotion-cache-1629p8f.e1nzilvr2 {
    display: flex;
    justify-content: center;
}
span.st-emotion-cache-10trblm.e1nzilvr1{
    text-align: center;
    color: #519CFE;
}

/* form */
div.st-emotion-cache-0.e1f1d6gn0 {
    margin-left: 5%;
    margin-right: 5%;
}
div.st-emotion-cache-r421ms.e10yg2by1 {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* sign-in button */
div.row-widget.stButton {
    display: flex;
    justify-content: center;
    width: max-content;
}
div.st-emotion-cache-1vbkxwb.e1nzilvr5 {
    width: 100px;
}
/* sign up */
div.st-emotion-cache-5rimss.e1nzilvr5 {
    display: flex;
    justify-content: center;
}